.main {
position: absolute;
top: 273px;
left: 387px;
display: grid;
grid-template-columns: repeat(3, 286px);
grid-template-rows: repeat(3, 386px);
gap: 22px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.name {
    font-family: 'Euclid Circular A';
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #333333;
}

.price {
    font-family: 'Euclid Circular A Light';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.basket {
        background: #2DD06E;
        color:aliceblue;
        width: 197px;
        height: 48px;
        padding: 10px 48px 14px 48px;
        border-radius: 8px;
        font-family: 'Euclid Circular A';
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
}

.basket img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin-right: 9px;
}

.count__contorls {
    display: flex;
    flex-direction: row;
}
.count__up, .count__down {
    background-color: white;
}


.basketButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.count__unput {
    max-width: 55px;
    text-align: center;
    font-weight: 1200;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    margin-left: 6px;
    padding-top: 20px;
}

.count__unput::-webkit-inner-spin-button,
.canvas__unput::-webkit-outer-spin-button {
    appearance: none;
}


.animation {
   position: absolute;
   left: 33em;
   top: 20em;
}

.logo {
    height: 10em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
     .logo {
      animation: logo-spin infinite 10s linear;
    }
  }



@media screen and (max-width: 360px) {

    .main {
        position: absolute;
        left: 80px;
        display: grid;
        flex-direction: 100px 100px;
        border: none;
        width: 270px;
        height: 3610px;
        padding: 0px;
        gap: 1px;
      }

      .animation {
        position: absolute;
        left: 3.6em;
        top: 12em;
     }


      .description {
        position: absolute;
        top: 500px;
        left: -5px;
      }

}

       

